/* common style */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;

}

main,
.footer-container {
    max-width: 1141px;
    margin: 131px auto 0 auto;
}

section {
    margin-bottom: 130px;
}


.section-heading {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}


.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

/* header styles */
header h1 {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}




.header-button {
    border: 0;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}

header {
    text-align: right;
    background-image: url(images/banner/banner1.png);
    background-size: cover;

}

.header-container {
    display: flex;
    justify-content: end;
}

.heading-container {
    max-width: 525px;
    text-align: right;
    padding: 200px;
}

/* failur secion style */
.failures-sec {
    display: flex;
    align-items: center;
}

.s-list {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 0 0 8px 0;
    padding: 0;
}

.fail-info {
    max-width: 416px;
    margin-left: 87px;
}

.failures-sec img {
    max-width: 569px;
}

/* my plans styles */
.plan-section {
    text-align: center;
}

.plans-container {
    display: flex;
    gap: 86px;
    text-align: center;
}

.plan {
    text-align: center;
    max-width: 270px;
}

.plan-heading {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-des {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}

.plan-section>.section-heading {
    margin-bottom: 50px;
}



/* positive mindset section styles */
.positive-section {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    border-radius: 8px;

}

.positive-container {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    padding: 31px;
    background-repeat: no-repeat;

}

.positive-heading {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.positive-button {
    border: 0;
    height: 64px;
    width: 160px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
}

/* footer styles */
footer {
    background-color: #151414;
    padding: 30px 0 130px 0;

}

footer>.footer-container>.future>h1,
p {
    color: rgb(218, 218, 218);
}

footer img {
    margin-right: 17px;
}

.footer-container {
    display: flex;
}

.subscribe>h2 {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.subscribe>input {
    width: 325px;
    height: 64px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}